:root,[data-theme-mode=light] {
  --text-1: #1a202e;
  --text-2: #364152;
  --text-3: #475569;
  --text-4: #64748b;
  --text-5: #97a6ba;
  --text-6: #cfd8e3;
  --text-7: #fff;
  --background-1: #fff;
  --background-2: #f1f5f9;
  --background-3: #e2e8f0;
  --background-4: #cfd8e3;
  --background-5: #97a6ba;
  --background-6: #64748b;
  --background-7: #1a202e;
  --border-default: #cfd8e3;
  --border-hover: #97a6ba;
  --border-disabled: #f1f5f9;
  --primary-text: #1c64f2;
  --primary-background: #1c64f2;
  --primary-background-hover: #1a56db;
  --primary-background-inverted: #ebf5ff;
  --primary-background-inverted-hover: #e1effe;
  --primary-border: #1c64f2;
  --primary-focus: #1c64f2;
  --success-text: #057a55;
  --success-background: #057a55;
  --success-background-hover: #046c4e;
  --success-background-inverted: #f3faf7;
  --success-background-inverted-hover: #bcf0da;
  --success-border: #057a55;
  --info-text: #7e3af2;
  --info-background: #7e3af2;
  --info-background-hover: #6c2bd9;
  --info-background-inverted: #f0f5ff;
  --info-background-inverted-hover: #dcd7fe;
  --info-border: #7e3af2;
  --warning-text: #d03801;
  --warning-background: #d03801;
  --warning-background-hover: #b43403;
  --warning-background-inverted: #fff8f1;
  --warning-background-inverted-hover: #fcd9bd;
  --warning-border: #d03801;
  --danger-text: #e02424;
  --danger-background: #e02424;
  --danger-background-hover: #c81e1e;
  --danger-background-inverted: #fdf2f2;
  --danger-background-inverted-hover: #fbd5d5;
  --danger-border: #e02424
}

@media(prefers-color-scheme: light) {
  [data-theme-mode=light] {
      --text-1:#1a202e;
      --text-2: #364152;
      --text-3: #475569;
      --text-4: #64748b;
      --text-5: #97a6ba;
      --text-6: #cfd8e3;
      --text-7: #fff;
      --background-1: #fff;
      --background-2: #f1f5f9;
      --background-3: #e2e8f0;
      --background-4: #cfd8e3;
      --background-5: #97a6ba;
      --background-6: #64748b;
      --background-7: #1a202e;
      --border-default: #cfd8e3;
      --border-hover: #97a6ba;
      --border-disabled: #f1f5f9;
      --primary-text: #1c64f2;
      --primary-background: #1c64f2;
      --primary-background-hover: #1a56db;
      --primary-background-inverted: #ebf5ff;
      --primary-background-inverted-hover: #e1effe;
      --primary-border: #1c64f2;
      --primary-focus: #1c64f2;
      --success-text: #057a55;
      --success-background: #057a55;
      --success-background-hover: #046c4e;
      --success-background-inverted: #f3faf7;
      --success-background-inverted-hover: #bcf0da;
      --success-border: #057a55;
      --info-text: #7e3af2;
      --info-background: #7e3af2;
      --info-background-hover: #6c2bd9;
      --info-background-inverted: #f0f5ff;
      --info-background-inverted-hover: #dcd7fe;
      --info-border: #7e3af2;
      --warning-text: #d03801;
      --warning-background: #d03801;
      --warning-background-hover: #b43403;
      --warning-background-inverted: #fff8f1;
      --warning-background-inverted-hover: #fcd9bd;
      --warning-border: #d03801;
      --danger-text: #e02424;
      --danger-background: #e02424;
      --danger-background-hover: #c81e1e;
      --danger-background-inverted: #fdf2f2;
      --danger-background-inverted-hover: #fbd5d5;
      --danger-border: #e02424
  }
}

[data-theme-mode=dark] {
  --text-1: #fff;
  --text-2: #e2e8f0;
  --text-3: #cfd8e3;
  --text-4: #97a6ba;
  --text-5: #64748b;
  --text-6: #475569;
  --text-7: #1a202e;
  --background-1: #1a202e;
  --background-2: #27303f;
  --background-3: #364152;
  --background-4: #475569;
  --background-5: #64748b;
  --background-6: #97a6ba;
  --background-7: #fff;
  --border-default: #475569;
  --border-hover: #64748b;
  --border-disabled: #27303f;
  --primary-text: #76a9fa;
  --primary-background: #1c64f2;
  --primary-background-hover: #3f83f8;
  --primary-background-inverted: #233876;
  --primary-background-inverted-hover: #1a56db;
  --primary-border: #3f83f8;
  --primary-focus: #a4cafe;
  --success-text: #31c48d;
  --success-background: #057a55;
  --success-background-hover: #046c4e;
  --success-background-inverted: #014737;
  --success-background-inverted-hover: #046c4e;
  --success-border: #31c48d;
  --info-text: #ac94fa;
  --info-background: #7e3af2;
  --info-background-hover: #6c2bd9;
  --info-background-inverted: #4a1d96;
  --info-background-inverted-hover: #6c2bd9;
  --info-border: #ac94fa;
  --warning-text: #ff8a4c;
  --warning-background: #d03801;
  --warning-background-hover: #b43403;
  --warning-background-inverted: #771d1d;
  --warning-background-inverted-hover: #b43403;
  --warning-border: #ff8a4c;
  --danger-text: #f98080;
  --danger-background: #e02424;
  --danger-background-hover: #c81e1e;
  --danger-background-inverted: #771d1d;
  --danger-background-inverted-hover: #c81e1e;
  --danger-border: #f98080
}

@media(prefers-color-scheme: dark) {
  [data-theme-mode=dark] {
      --text-1:#fff;
      --text-2: #e2e8f0;
      --text-3: #cfd8e3;
      --text-4: #97a6ba;
      --text-5: #64748b;
      --text-6: #475569;
      --text-7: #1a202e;
      --background-1: #1a202e;
      --background-2: #27303f;
      --background-3: #364152;
      --background-4: #475569;
      --background-5: #64748b;
      --background-6: #97a6ba;
      --background-7: #fff;
      --border-default: #475569;
      --border-hover: #64748b;
      --border-disabled: #27303f;
      --primary-text: #76a9fa;
      --primary-background: #1c64f2;
      --primary-background-hover: #3f83f8;
      --primary-background-inverted: #233876;
      --primary-background-inverted-hover: #1a56db;
      --primary-border: #3f83f8;
      --primary-focus: #a4cafe;
      --success-text: #31c48d;
      --success-background: #057a55;
      --success-background-hover: #046c4e;
      --success-background-inverted: #014737;
      --success-background-inverted-hover: #046c4e;
      --success-border: #31c48d;
      --info-text: #ac94fa;
      --info-background: #7e3af2;
      --info-background-hover: #6c2bd9;
      --info-background-inverted: #4a1d96;
      --info-background-inverted-hover: #6c2bd9;
      --info-border: #ac94fa;
      --warning-text: #ff8a4c;
      --warning-background: #d03801;
      --warning-background-hover: #b43403;
      --warning-background-inverted: #771d1d;
      --warning-background-inverted-hover: #b43403;
      --warning-border: #ff8a4c;
      --danger-text: #f98080;
      --danger-background: #e02424;
      --danger-background-hover: #c81e1e;
      --danger-background-inverted: #771d1d;
      --danger-background-inverted-hover: #c81e1e;
      --danger-border: #f98080
  }
}
